@import url("./public/fonts/index.css");

:root {
  /* Colors */
  --black: #040404;
  --white: #ffffff;
  --grey-1: #f2f2f2;
  --grey-2: #c5c5c5;
  --background: var(--white);
  --foreground: var(--black);

  /* Fonts */
  --font-family: "Inter", "Helvetica", sans-serif;
  --font-size: 20px;

  /* Sizing */
  --proposal-width: 420px;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

body,
html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  /* overscroll-behavior-y: none; */
}

textarea {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

.propose {
  color: var(--grey-2);
  font-size: 5rem;
  height: 5rem;
  background: none;
  border: none;
  line-height: 10px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transform: translate(0, -0.5rem);
}

.propose::after {
  content: "+";
}

.byline {
  display: inline-block;
  padding: 0.5rem 1rem;
}
